

/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */     /* Quan trọng: loại bỏ khoảng cách thừa */
}

/* Hiệu ứng hover */
.menu-label:hover , .now-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
}

.now-label {
    -fx-background-color: #2E7D32;
   
}

.now-label:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand;  
}

.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.menu-danhSachChuyenTau {
    -fx-vbar-policy: never;
    -fx-hbar-policy: always;
}

.pn-choNgoi {
    -fx-background-color: #F3F3F3; /* Màu nền */
    -fx-background-radius: 10px;   /* Bo góc 10px */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0); /* Hiệu ứng shadow */
}

.menu-danhSachToa {
    -fx-vbar-policy: never;
    -fx-hbar-policy: always;
}

.lbl-GioVe {
    /* Background */
    -fx-background-color: #2e7d32;       /* Màu nền xanh lá đậm */

    /* Hiệu ứng shadow cho background */
    -fx-effect: dropshadow(
        gaussian,                        /* Kiểu shadow mờ */
        rgba(0, 0, 0, 0.3),             /* Màu shadow (đen, 30% opacity) */
        5,                              /* Bán kính blur */
        0.5,                            /* Độ lan rộng */
        0, 1                            /* Offset (x, y) */
    );

    /* Text (giữ nguyên, không chỉnh) */
    -fx-text-fill: white;               /* Màu chữ trắng để tương phản */ 	
}

.scr-GioVe{
	-fx-vbar-policy: always;
    -fx-hbar-policy: never;
}

.lbl-TongTienTamTinh{
	-fx-background-color: #2e7d32; 
	-fx-effect: dropshadow(
        gaussian,                        /* Kiểu shadow mờ */
        rgba(0, 0, 0, 0.3),             /* Màu shadow (đen, 30% opacity) */
        5,                              /* Bán kính blur */
        0.5,                            /* Độ lan rộng */
        0, 1                            /* Offset (x, y) */
    );
}

.btn-tim{
	-fx-background-color: #66CCCC; 
}

.btn-tim:hover{
    -fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand; 	
}

.btn-chonTatCa{
	-fx-background-color: #66CCCC; 
}

.btn-chonTatCa:hover{
    -fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand; 	
}

.btn-boChonTatCa{
	-fx-background-color: #CD3700; 
}

.btn-boChonTatCa:hover{
    -fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand; 	
}

.btn-themVe{
	-fx-background-color: #2E7D32; 
}

.btn-themVe:hover{
    -fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand; 	
}

.btn-tiepTheo{
	-fx-background-color: #66CCCC; 
}

.btn-tiepTheo:hover{
    -fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand; 	
}