/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */
    -fx-background-insets: 0;       /* Quan trọng: loại bỏ khoảng cách thừa */
    -fx-padding: 0 10px 0 0;       /* Căn lề phải (tuỳ chỉnh theo bố cục) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

/* Hiệu ứng hover */
.menu-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.5, 0, 2);
}

.now-label {
    -fx-background-color: #2E7D32;
    -fx-background-insets: 0;     
    -fx-padding: 0 10px 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

.now-label:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.5, 0, 2);
}

.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.rec-thongTin{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

.btn-tim{
	-fx-background-color: #66CCCC;	
}

.btn-tim:hover{
    -fx-background-color: #FFD700;
    -fx-cursor: hand; 	
}

.btn-xuatDanhSach{
	-fx-background-color: #2E7D32;	
}

.btn-xuatDanhSach:hover{
    -fx-background-color: #FFD700;
    -fx-cursor: hand; 	
}

.btn-themKhachHang{
	-fx-background-color: #00FA9A;
}

.btn-themKhachHang:hover{
	-fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand;  
}

.btn-capNhatKhachHang{
	-fx-background-color: #2E7D32;
}

.btn-capNhatKhachHang:hover{
	-fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand;  
}

.btn-voHieuHoa{
	-fx-background-color: #CD3700;
}

.btn-voHieuHoa:hover{
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;	
}