/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */
}

/* Hiệu ứng hover */
.menu-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
}

.now-label {
    -fx-background-color: #2E7D32;
}

.now-label:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand;  
}
.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.rec-thongTin{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

.btn-tim{
	-fx-background-color: #66CCCC;	
}

.btn-tim:hover{
    -fx-background-color: #FFD700;
    -fx-cursor: hand; 	
}

.btn-themKhachHang{
	-fx-background-color: #00FA9A;
}

.btn-themKhachHang:hover{
	-fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand;  
}

.btn-capNhatKhachHang{
	-fx-background-color: #2E7D32;
}

.btn-capNhatKhachHang:hover{
	-fx-background-color: #FFD700; /* Màu nền khi hover */
    -fx-cursor: hand;  
}

.btn-lamRong{
	-fx-background-color:#FF8C00;
}

.btn-lamRong:hover{
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;	
}