
/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */
    -fx-background-insets: 0;       /* Quan trọng: loại bỏ khoảng cách thừa */
    -fx-padding: 0 10px 0 0;       /* Căn lề phải (tuỳ chỉnh theo bố cục) */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

/* Hiệu ứng hover */
.menu-label:hover, .now-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.5, 0, 2);
}

.now-label {
    -fx-background-color: #2E7D32;
    -fx-background-insets: 0;     
    -fx-padding: 0 10px 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.3, 0, 1);
}

.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.rec-thongTin{
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
}

.scr-gioVe {
    -fx-hbar-policy: never; /* Ẩn thanh cuộn ngang */
    -fx-vbar-policy: as-needed; /* Hiện thanh cuộn dọc khi cần */
}

.btn-tim{
	-fx-background-color: #66CCCC;
}

.btn-tim:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand; 
}

.btn-themKhachHang{
	-fx-background-color: #2E7D32;
}

.btn-themKhachHang:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand; 
}

.btn-capNhatKhachHang{
	-fx-background-color: #66CCCC;
}

.btn-capNhatKhachHang:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand; 
}

.btn-xoaRong{
	-fx-background-color: #EE9A00;
}

.btn-xoaRong:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand; 
}

.btn-banVe{
	-fx-background-color: #66CCCC;
}

.btn-banVe:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand; 
}