/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */
    -fx-background-insets: 0;       /* Quan trọng: loại bỏ khoảng cách thừa */
}

/* Hiệu ứng hover */
.menu-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
}

.now-label {
    -fx-background-color: #2E7D32;
    -fx-background-insets: 0;     
}

.now-label:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.5, 0, 2);
}

.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.recThongKe {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.btnTK {
    -fx-background-color: #2196F3; /* Xanh dương */
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.btnTK:hover{
	-fx-background-color: #FF9800 !important;
	
}
#btnTKDT {
    -fx-background-color: #4CAF50; 
}

.btnBC {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.btnBC:hover{
	-fx-background-color: #FFD700 !important;
	
}

#btnThoiGian {
    -fx-background-color: #4CAF50;
}

#btnThongKe {
    -fx-background-color: #66CCCC; /* Màu cam mặc định */
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.rec-button{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);	
}
